{% extends "admin/change_list.html" %}
{% block object-tools-items %}
  {{ block.super }}
  <li>
    <form method="get"
          action="{% url 'admin:despesas_exportar_xlsx' %}"
          style="display:flex; gap:.5em; align-items:center;">
      <label>Mês:</label>
      <select name="mes">
        {% for val,label in meses_choices %}
          <option value="{{ val }}"
          {% if request.GET.mes == val|stringformat:"s" %}
            selected
          {% endif %}>
          {{ label }}
        </option>
        {% endfor %}
      </select>
      <label>Ano:</label>
      <select name="ano">
        {% for y in anos_choices %}
        <option value="{{ y }}"
          {% if request.GET.ano == y|stringformat:"s" %}
            selected
          {% endif %}>
          {{ y }}
        </option>
        {% endfor %}
      </select>

      <button type="submit" class="addlink">Exportar XLSX</button>
    </form>
  </li>
{% endblock %}
